*{
  margin:0;
  padding: 0;
}
body{
  background:#cccc;
  padding: 20px;
  height:100vh;
}
main{
  background:white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border:solid 1px black;
  padding: 8px;
}
textarea{
  padding: 10px;
  font-size: 16px;
  border:none;
  color:white;
  background:rgb(39, 39, 39);
  resize: none;
  outline: none;
  flex:1;
}
button{
  float:left;
  margin:10px;
  padding: 5px 8px;
  font-size:18px;
  border-radius: 5px;
  min-width: 90px;
}
textarea:disabled{
  background: transparent;
  color:black;
}
textarea::-webkit-scrollbar {
  width: 15px;
}

/* Track */
textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
textarea::-webkit-scrollbar-thumb {
  background: rgb(112, 112, 255);
  border-radius: 10px;
}
textarea::placeholder{
  font-size: 28px;
  text-align: center;
}
